.hero {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
    ), url("../assets/earth.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #202020;

  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.hero-content {
  width: min(760px, 90%);
  padding: 20px;
  /*
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.15) 45%,
    rgba(0, 0, 0, 0) 70%
  );
  */
  border: none;
  box-shadow: none;
  backdrop-filter: none;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 20px;
  color: #ffffff;
  text-shadow:
      0 2px 4px rgba(0, 0, 0, 0.8),
      0 0 14px rgba(0, 0, 0, 0.67);
}

.tagline {
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  font-variant: small-caps;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 40px;
  text-shadow:
      0 2px 4px rgba(0, 0, 0, 0.8),
      0 0 12px rgba(0, 0, 0, 0.67);
}

.subtitle {
  max-width: 780px;
  font-size: 16px;
  font-weight: 500;
  color: #ebf1ff;
  line-height: 1.6;
  margin: 0 0 30px;
  text-shadow:
    0 2px 4px rgba(5, 0, 0, 0.85),
    0 0 10px rgba(0, 0, 0, 0.85);
}

.hero button {
  background-color: #4673d6c4;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 3, 8, 0.35);
  border: .5px solid black;
  padding: 14px 28px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.hero button:hover {
  background-color: #1d4ed8;
}