@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Manrope:wght@400;500;600;700;800&family=Playfair+Display:wght@600;700;800;900&display=swap');
@import "tailwindcss";

/*syling for all pages*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: #f8fafc;
  color: #1f2937;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
    font-family: 'Manrope', sans-serif;
}

